.react-datepicker-wrapper {
    width: 100%;
}

.custom_button {
    /* background-color: #008CBA; */
    background-color: white; 
    /* Green */
    border: none;
    color: black; 
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #008CBA;
}

.custom_button_active {
    background-color: #008CBA; 
    color: white; 
    border: 2px solid #008CBA;
}

.custom_button:hover {
    background-color: #008CBA;
    color: white;
  }

  .fs-4 {
    font-size: 1.4rem !important;
}

.hover_css:hover {
    cursor: pointer;
 }


 .avatar-container {
   position: relative;
   display: inline-block;
 }
 
 .avatar-overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgb(255 0 0 / 50%);
   color: white;
   border-radius: 50%;
   padding: 4px;
   font-size: 12px;
   width: 40px;
   height: 40px;
 }

 /* responsive css */

@media (max-width: 768px) {
  
  .body{
    padding: 0px !important;
  }

  .modal-content{
    width: -webkit-fill-available !important;
  }
}